#import /init.recovery.${ro.hardware}.rc

on early-init
    start ueventd

on init
    export PATH /sbin
    export LD_LIBRARY_PATH .:/sbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard
    export EXTERNAL_ADD_STORAGE /external_sd

    symlink /system/etc /etc

    #mkdir /boot
    #mkdir /recovery
    mkdir /sdcard
    #mkdir /internal_sd
    mkdir /external_sd
    mkdir /sd-ext
    #mkdir /datadata
    #mkdir /emmc
    mkdir /system
    mkdir /data
    mkdir /cache
    mount /tmp /tmp tmpfs

    chown root shell /tmp
    chmod 0775 /tmp

    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1004
    write /sys/class/android_usb/android0/idProduct 61A6
    write /sys/class/android_usb/android0/functions mass_storage,adb
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}


on boot

    ifup lo
    hostname localhost
    domainname localdomain
    
    write /sys/module/cpu_tegra3/parameters/no_lp 0
    #write /sys/module/tegra3_emc/parameters/emc_enable 0
    #write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1000000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor interactive
    chown system system /sys/devices/system/cpu/cpufreq/interactive/cores_states
    chmod 0644 /sys/devices/system/cpu/cpufreq/interactive/cores_states
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    write /sys/module/cpu_tegra/parameters/force_policy_max Y
    write /sys/devices/system/cpu/cpufreq/interactive/boost_factor 2
    write /sys/devices/system/cpu/cpufreq/interactive/sustain_load 80
    write /sys/module/cpu_tegra3/parameters/auto_hotplug 1
    write /sys/module/cpuidle/parameters/lp2_in_idle 1

    # Interactive dynamic frequecy mode settings
    write /sys/devices/system/cpu/cpufreq/interactive/go_maxspeed_load 95
    write /sys/devices/system/cpu/cpufreq/interactive/dynamic_freq_mode 1
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 20000

    class_start default

service ueventd /sbin/ueventd
    critical

service recovery /sbin/recovery

service adbd /sbin/adbd recovery
    disabled

# Always start adbd on userdebug and eng builds
on property:ro.debuggable=1
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop service.adb.root 1

# Restart adbd so it can run as root
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1
